.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 100%; /* Removed fixed width, use full viewport width */
  grid-row: 2; /* Place container in the second row */
}

.thecontainer {
  display: grid;
  grid-template-rows: auto 1fr; /* Define grid rows */
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.title-container img:first-child {
  width: 200px; /* Adjust width as needed */
}

.title-container img:last-child {
  width: 50px; /* Adjust width as needed */
}

.collapsibles-table {
  width: 100%;
}

.collapsibles-table th,
.collapsibles-table td {
  text-align: left;
  padding: 1rem; /* Use rem for better scaling on mobile */
  border-bottom: 1px solid #ddd;
}

/* Responsive Styles for .pic */
.pic {
  height: auto;
  width: 100%; /* Set width to 100% for full-width on mobile */
  max-width: 400px; /* Optional: Set a max-width to prevent very large images */
}

/* Additional Media Queries (Optional) */
@media (max-width: 768px) {
  .title-container {
    /* Adjust styles for title container on smaller screens */
    flex-direction: column; /* Stack elements vertically */
  }
  .title-container img {
    width: 100%; /* Adjust image width for smaller screens */
  }
  .pic{
    object-fit: contain; /* Scales image to fit container while maintaining aspect ratio */

  }
}
